[build-system]
requires = [
    "cython==3.2.1",
    "setuptools>=80.9.0",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
test-requires = "-r test-requirements.txt"
test-command = "pytest {project}/tests"
