[build-system]
requires = [
    "cython==3.2.1",
    "setuptools @ git+https://github.com/mwilliamson/setuptools@python314t-mingw32",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
test-requires = "-r test-requirements.txt"
test-command = "pytest {project}/tests"
