[build-system]
requires = [
    "setuptools>=43",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
before-build = [
    "pip install cython==0.29.32",
    "cython {project}/jq.pyx",
]
test-requires = "-r test-requirements.txt"
test-command = "pytest {project}/tests"
