name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build cp314t-win32 wheel

    runs-on: windows-2022

    steps:

    - uses: actions/checkout@v4

    - name: Set up MSYS2
      uses: ./.github/actions/setup-msys2
      with:
        arch: x86

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.3.0
      with:
        only: cp314t-win32
      env:
        CIBW_ENVIRONMENT: ${{ runner.os == 'Windows' && matrix.arch == 'x86' && 'CC=i686-w64-mingw32-gcc.exe' || '' }}

    - uses: actions/upload-artifact@v4
      if: steps.should-build-wheel.outputs.true
      with:
        name: dist-wheel-${{ matrix.cibw-only }}
        path: ./wheelhouse/*.whl
