name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build cp314t-win_amd64 wheel

    runs-on: windows-2022

    steps:

    - uses: actions/checkout@v4

    - name: Set up MSYS2
      uses: ./.github/actions/setup-msys2
      with:
        arch: AMD64

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.3.0
      with:
        only: cp314t-win_amd64

    - uses: actions/upload-artifact@v4
      with:
        name: dist-wheel-${{ matrix.cibw-only }}
        path: ./wheelhouse/*.whl
